<div>
  <div class="row">
    <div class="col-md-11">
      <label> {{ '::Home:ChartRightTitle' | abpLocalization }}</label>
    </div>
<!--    <div class="col-md-1">-->
<!--      <a (click)="refresh()">-->
<!--        <i class="fas fa-undo-alt" style="text-align: end; float: right"></i>-->
<!--      </a>-->
<!--    </div>-->
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="customer"></label>
        <app-typehead-focus
          id="customer"
          [id]="'customer'"
          [dataInput]="partnerData"
          (dataReturn)="eventPartnerSelectHandle($event)"
          [initialSelected]="partnerData.selected"
          [placeholder]="'::Record:PartnerName' | abpLocalization"
        ></app-typehead-focus>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="product"></label>
        <app-typehead-focus
          id="product"
          [dataInput]="productData"
          (dataReturn)="eventProductSelectHandle($event)"
          [initialSelected]="productData.selected"
          [placeholder]="'::Record:Product' | abpLocalization"
        ></app-typehead-focus>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="from"></label>
        <input
          type="date"
          class="form-control"
          id="from"
          placeholder="From"
          [(ngModel)]="from"
          (change)="onChangeDate($event)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="to"></label>
        <input
          type="date"
          class="form-control"
          id="to"
          placeholder="To"
          [(ngModel)]="to"
          (change)="onChangeDate($event)"
        />
      </div>
    </div>
  </div>
  <div style="display: block; padding-bottom: 15px">
    <abp-chart
      type="bar"
      [data]="data"
      width="100%"
      height="400px"
      [options]="options"
    ></abp-chart>
  </div>
</div>
