<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h1>Confidentiality Policy for TraceVerified Traceability System</h1>
      <p>
        At TraceVerified, we are committed to maintaining the confidentiality, integrity, and
        availability of information within our food traceability system. This confidentiality policy
        outlines the measures and guidelines to ensure the protection of sensitive information.
      </p>
      <p>
        This policy applies to all users, employees, contractors, and third parties who have access
        to information within the TraceVerified food traceability system.
      </p>
      <p>
        "Personal Data" is any information that can be used to identify an individual or
        organization or upon which you can be identified. We collect, use, disclose, and process
        Personal Data in accordance with the Privacy Policy you have accepted or as required by
        applicable law, such as when:
      </p>
      <ul>
        <li>We are required for legal compliance purposes.</li>
        <li>We are required for the purpose of entering into or performing a contract with you.</li>
        <li>
          For our legitimate interests and those of any other person, including but not limited to
          the purposes specified in this Privacy Policy.
        </li>
      </ul>
      <h2>I. DATA COLLECTION OF PERSONAL DATA</h2>
      <p>We collect (and may combine) Personal Data about you in the following ways:</p>
      <ul class="dash">
        <li>You provide Personal Data to us.</li>
      </ul>
      <p>
        For example, when you complete user profiles or registration forms (such as your name,
        contact information, and necessary identification information).
      </p>
      <ul class="dash">
        <li>When our services are used.</li>
      </ul>
      <p>
        Personal Data may be collected through normal activities or through the use of the
        application, Websites. Examples include:
      </p>
      <ul>
        <li>Your location information.</li>
        <li>System feedback.</li>
        <li>
          Information about how you interact with our Application, Website, or Service (such as
          features used and content viewed).
        </li>
        <li>Device information.</li>
      </ul>
      <h2>II. USE OF PERSONAL DATA</h2>
      <ul class="dash">
        <li>
          Your Personal Data will be used to provide, personalize, maintain, and improve our
          Application, Websites, and Services.
        </li>
        <li>Safety and security.</li>
        <li>Support when necessary.</li>
        <li>Research and development for security.</li>
        <li>Legal purposes.</li>
        <li>User-generated content.</li>
      </ul>
      <h2>III. DISCLOSURE OF PERSONAL DATA</h2>
      <p>
        We may need to share Personal Data with various parties for specific purposes. These parties
        include:
      </p>
      <ul>
        <li>Partners in your supply chain.</li>
        <li>Government agencies when required by legal request.</li>
      </ul>
      <p>
        Additionally, the personal data collected by the system is not automatically shared by us in
        any form unless you permit or voluntarily share it on our system.
      </p>
    </div>
  </div>
</div>
