.custom-color-green {
  color: green;
  font-size: 16px;
}
.custom-color-green:hover {
  color: white;
  font-size: 16px;
}

.style-span {
  vertical-align: middle;
  font-size: 1.2em;
  color: red;
  margin-left: 3px;
}
