<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h2 class="card-title">
          {{ '::Menu:Record' | abpLocalization }}
        </h2>
      </div>
      <div class="text-end col col-md-6">
        <div class="text-lg-end pt-2">
          <button id="create" class="btn btn-primary" type="button" (click)="createRecord()">
            <i class="fa fa-plus me-1"></i>
            <span>{{ '::NewRecord' | abpLocalization }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-custom">
    <div class="col col-md-12">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="filterText"
          [placeholder]="'::Search' | abpLocalization"
          (keyup.enter)="filter($event)"
        />

        <button
          class="btn btn-outline-secondary bi bi-search"
          (click)="filter($event)"
          type="button"
        ></button>
      </div>
    </div>
  </div>
  <div class="row margin-custom">
    <div class="col col-md-6">
      <a
        type="button"
        class="link-primary ms-2"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample"
      >
        {{ '::AdvanceFilter' | abpLocalization }}
      </a>
    </div>
  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="row margin-custom">
      <div class="col col-md-3">
        <app-typehead-focus
          id="profileFilter"
          [dataInput]="profileNameData"
          (dataReturn)="eventProfileFilterSelectHandle($event)"
          [placeholder]="'::Profile' | abpLocalization"
        ></app-typehead-focus>
      </div>
      <div class="col col-md-3">
        <app-typehead-focus
          id="processFilter"
          [dataInput]="processData"
          (dataReturn)="eventProcessFilterSelectHandle($event)"
          [placeholder]="'::Process' | abpLocalization"
          [initialSelected]="processData.selected"
        ></app-typehead-focus>
      </div>
      <div class="col col-md-3">
        <div class="input-group">
          <input
            class="form-control"
            [placeholder]="'::FromDate' | abpLocalization"
            name="dp"
            [(ngModel)]="fromDate"
            (ngModelChange)="filterDateChange()"
            ngbDatepicker
            #fromDatePicker="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary bi bi-calendar3"
            (click)="fromDatePicker.toggle()"
            type="button"
          ></button>
        </div>
      </div>
      <div class="col col-md-3">
        <div class="input-group">
          <input
            class="form-control"
            [placeholder]="'::ToDate' | abpLocalization"
            name="dp"
            [(ngModel)]="toDate"
            (ngModelChange)="filterDateChange()"
            ngbDatepicker
            #toDatePicker="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary bi bi-calendar3"
            (click)="toDatePicker.toggle()"
            type="button"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul ngbNav class="nav-tabs" #nav="ngbNav" [(activeId)]="activeId">
      <li [ngbNavItem]="1">
        <a ngbNavLink>{{ '::Record:Recording' | abpLocalization }}</a>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>{{ '::Record:Done' | abpLocalization }}</a>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>{{ '::Record:Share' | abpLocalization }}</a>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink>{{ '::Record:Received' | abpLocalization }}</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <ng-container *ngIf="activeId === 1">
        <div class="card-content">
          <ngx-datatable [rows]="record.items" [count]="record.totalCount" [list]="list" default>
            <ngx-datatable-column
              [name]="'::Actions' | abpLocalization"
              [maxWidth]="150"
              [sortable]="false"
            >
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div ngbDropdown container="body" class="d-inline-block">
                  <button
                    class="btn btn-primary btn-sm dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    ngbDropdownToggle
                  >
                    <i class="fa fa-cog me-1"></i>{{ '::Actions' | abpLocalization }}
                  </button>
                  <div ngbDropdownMenu>
                    <button ngbDropdownItem (click)="delete(row.id)">
                      {{ '::Delete' | abpLocalization }}
                    </button>
                    <button ngbDropdownItem (click)="recordingModalOpen(row.id)">
                      {{ '::Recording' | abpLocalization }}
                    </button>
                    <button ngbDropdownItem (click)="recordingSetDone(row.id)">
                      {{ '::Done' | abpLocalization }}
                    </button>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Record:Code' | abpLocalization"
              prop="code"
              [sortable]="false"
            ></ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Record:Step' | abpLocalization"
              prop="currentStepName"
              [sortable]="false"
            ></ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Record:CreateBy' | abpLocalization"
              prop="createdBy"
              [sortable]="false"
            ></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </ng-container>
      <ng-container *ngIf="activeId === 2">
        <div class="card-content">
          <ngx-datatable [rows]="done.items" [count]="done.totalCount" [list]="list" default>
            <ngx-datatable-column
              [name]="'::Actions' | abpLocalization"
              [maxWidth]="150"
              [sortable]="false"
            >
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div ngbDropdown container="body" class="d-inline-block">
                  <button
                    class="btn btn-primary btn-sm dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    ngbDropdownToggle
                  >
                    <i class="fa fa-cog me-1"></i>{{ '::Actions' | abpLocalization }}
                  </button>
                  <div ngbDropdownMenu>
                    <button ngbDropdownItem (click)="editDone(row.id)">
                      {{ '::Edit' | abpLocalization }}
                    </button>
                    <button ngbDropdownItem (click)="delete(row.id)">
                      {{ '::Delete' | abpLocalization }}
                    </button>
                    <button ngbDropdownItem (click)="viewTraceability(row.viewTraceabilityUrl)">
                      {{ '::View' | abpLocalization }}
                    </button>
                    <button ngbDropdownItem>
                      {{ '::Share' | abpLocalization }}
                    </button>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Done:Code' | abpLocalization"
              prop="code"
              [sortable]="false"
            ></ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Done:ProductName' | abpLocalization"
              prop="products"
              [minWidth]="200"
              [sortable]="false"
            >
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                  <ul>
                    <li *ngFor="let product of value">{{ product.name }}</li>
                  </ul>
                </div>
              </ng-template></ngx-datatable-column
            >
            <ngx-datatable-column
              [name]="'::Done:TraceAbilityCode' | abpLocalization"
              prop="traceabilityCodes"
              [minWidth]="200"
              [sortable]="false"
            >
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                  <ul>
                    <li *ngFor="let traceabilityCode of value">{{ traceabilityCode.name }}</li>
                  </ul>
                </div>
              </ng-template></ngx-datatable-column
            >
            <ngx-datatable-column
              [name]="'::Record:CreateBy' | abpLocalization"
              prop="createdBy"
              [sortable]="false"
            ></ngx-datatable-column>

            <ngx-datatable-column [name]="'::Record:CreateDate' | abpLocalization">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.creationTime | date : 'short' }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </ng-container>
      <ng-container *ngIf="activeId === 3">
        <div class="card-content">
          <ngx-datatable [rows]="share.items" [count]="share.totalCount" [list]="list" default>
            <ngx-datatable-column
              [name]="'::Actions' | abpLocalization"
              [maxWidth]="150"
              [sortable]="false"
            >
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div ngbDropdown container="body" class="d-inline-block">
                  <button
                    class="btn btn-primary btn-sm dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    ngbDropdownToggle
                  >
                    <i class="fa fa-cog me-1"></i>{{ '::Actions' | abpLocalization }}
                  </button>
                  <div ngbDropdownMenu>
                    <button ngbDropdownItem (click)="delete(row.id)">
                      {{ '::Delete' | abpLocalization }}
                    </button>

                    <button ngbDropdownItem>
                      {{ '::Back' | abpLocalization }}
                    </button>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Share:Code' | abpLocalization"
              prop="code"
              [sortable]="false"
            ></ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Share:ContractNumber' | abpLocalization"
              prop="contractNumber"
              [sortable]="false"
            ></ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Share:ProductName' | abpLocalization"
              prop="productId"
              [sortable]="false"
            ></ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Share:TraceAbilityCode' | abpLocalization"
              prop="traceAbility"
              [sortable]="false"
            ></ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Share:ShareBy' | abpLocalization"
              prop="shareBy"
              [sortable]="false"
            ></ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Share:Partner' | abpLocalization"
              prop="partner"
              [sortable]="false"
            ></ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Record:SendDate' | abpLocalization"
              prop="sendDate"
              [sortable]="false"
            ></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </ng-container>
      <ng-container *ngIf="activeId === 4">
        <div class="card-content">
          <ngx-datatable [rows]="receive.items" [count]="receive.totalCount" [list]="list" default>
            <ngx-datatable-column
              [name]="'::Actions' | abpLocalization"
              [maxWidth]="150"
              [sortable]="false"
            >
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div ngbDropdown container="body" class="d-inline-block">
                  <button
                    class="btn btn-primary btn-sm dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    ngbDropdownToggle
                  >
                    <i class="fa fa-cog me-1"></i>{{ '::Actions' | abpLocalization }}
                  </button>
                  <div ngbDropdownMenu>
                    <button ngbDropdownItem (click)="delete(row.id)">
                      {{ '::Delete' | abpLocalization }}
                    </button>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::ReCieve:Code' | abpLocalization"
              prop="code"
              [sortable]="false"
            ></ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Share:ContractNumber' | abpLocalization"
              prop="contractNumber"
              [sortable]="false"
            ></ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Share:ProductName' | abpLocalization"
              prop="productId"
              [sortable]="false"
            ></ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Share:TraceAbilityCode' | abpLocalization"
              prop="traceAbility"
              [sortable]="false"
            ></ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Share:ShareBy' | abpLocalization"
              prop="shareBy"
              [sortable]="false"
            ></ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Share:Partner' | abpLocalization"
              prop="partner"
              [sortable]="false"
            ></ngx-datatable-column>
            <ngx-datatable-column
              [name]="'::Record:SendDate' | abpLocalization"
              prop="sendDate"
              [sortable]="false"
            ></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </ng-container>
      <div class="mt-2" [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>
<abp-modal [(visible)]="isRecordModalOpen" [options]="{ centered: false, size: 'xl' }">
  <ng-template #abpHeader>
    <div class="row">
      <div class="col-md-12">
        <h3 *ngIf="!isDetail">
          {{
            (selectedRecord?.id ? '::Record:EditRecord' : '::Record:NewRecord') | abpLocalization
          }}
        </h3>
        <h3 *ngIf="isDetail">
          {{ '::Record:Recording' | abpLocalization }}
        </h3>
      </div>
    </div>
  </ng-template>

  <ng-template #abpBody>
    <ng-template #loaderRef>
      <div class="text-center"><i class="fa fa-pulse fa-spinner" aria-hidden="true"></i></div>
    </ng-template>

    <!-- todo: tab change not need reload data-->
    <ul
      ngbNav
      #navRecord="ngbNav"
      class="nav-tabs"
      (navChange)="onDetailNavChange($event)"
      [(activeId)]="defaultTabId"
    >
      <li [ngbNavItem]="1">
        <div [hidden]="!isDetail">
          <a ngbNavLink>{{ '::Record:RecordInformation' | abpLocalization }}</a>
        </div>
        <ng-template ngbNavContent>
          <form
            *ngIf="recordForm; else loaderRef"
            [formGroup]="recordForm"
            (ngSubmit)="saveRecord()"
          >
            <div class="mt-2">
              <label for="recordCode">{{ '::Record:Code' | abpLocalization }}</label>
              <input
                type="text"
                id="recordCode"
                class="form-control"
                formControlName="code"
                readonly
              />
            </div>
            <div class="mt-2">
              <label class="mb-2" for="record-profileName-1">{{
                '::Record:ProfileName' | abpLocalization
              }}</label
              ><span> * </span>
              <app-typehead-focus
                id="record-profileName-1"
                [dataInput]="profileNameData"
                (dataReturn)="eventProfileNameSelectHandle($event)"
                [initialSelected]="profileNameData.selected"
              ></app-typehead-focus>
            </div>
            <div class="mt-2">
              <label class="mb-2" for="record-processName-2">{{
                '::Record:ProcessName' | abpLocalization
              }}</label
              ><span> * </span>
              <app-typehead-focus
                id="record-processName-2"
                [dataInput]="processData"
                (dataReturn)="eventProcessNameSelectHandle($event)"
                [initialSelected]="processData.selected"
              ></app-typehead-focus>
            </div>
          </form>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <div [hidden]="!isDetail">
          <a ngbNavLink>{{ '::Record:Detail' | abpLocalization }}</a>
        </div>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-md-12">
              <ul ngbNav #navStep="ngbNav" class="nav nav-pills nav-fill" [(activeId)]="navStepId">
                <li *ngFor="let step of stepData; let i = index" [ngbNavItem]="i + 1">
                  <div
                    class="d-flex align-items-center justify-content-center"
                    *ngIf="step; else loaderRef"
                  >
                    <button
                      type="button"
                      class="me-2 mb-2 rounded-circle btn custom-btn"
                      [class.btn-primary]="step?.id === selectedStep?.id"
                      style="width: 30px; height: 30px; padding: 0"
                      (click)="selectStep(step.id)"
                      ngbNavLink
                    >
                      <div
                        class="d-flex flex-column align-items-center justify-content-center"
                        style="width: 100%; height: 100%"
                      >
                        <span>{{ i + 1 }}</span>
                      </div>
                    </button>
                    <span class="d-block text-center">{{ step.name }}</span>
                  </div>
                </li>
              </ul>
              <div ngbNavContent *ngIf="selectedStep?.isSpecial === 1">
                <div *ngIf="receptionData.data.length > 0" class="row margin-custom">
                  <div class="selected-values-card">
                    <ul>
                      <li *ngFor="let value of receptionData.data" class="selected-value fw-bold">
                        <button
                          type="button"
                          class="btn btn-link text-primary"
                          (click)="getFieldData(selectedStep.id, value)"
                        >
                          <i class="fa fa-file-text fa-2x"></i>
                        </button>
                        {{ value?.traceabilityRecordCode }}
                        <button
                          type="button"
                          class="btn btn-link text-danger"
                          (click)="removeValue(value.id)"
                        >
                          <i class="fa fa-times"></i>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div *ngIf="receptionData.data.length === 0" class="row margin-custom">
                  <div class="selected-values-card">
                    {{ '::NoDataAvailable' | abpLocalization }}
                  </div>
                </div>
                <!--                <div-->
                <!--                  *ngIf="selectedOriginId && selectedOriginId.length > 0"-->
                <!--                  class="row margin-custom"-->
                <!--                >-->
                <!--                  <div class="selected-values-card">-->
                <!--                    <ul>-->
                <!--                      <li *ngFor="let value of selectedOriginId" class="selected-value">-->
                <!--                        {{ value.district }}-->
                <!--                        <span class="delete-icon" (click)="removeOriginIdValue(value)">x</span>-->
                <!--                      </li>-->
                <!--                    </ul>-->
                <!--                  </div>-->
                <!--                </div>-->

                <div class="row margin-custom">
                  <div class="col col-md-2">
                    <div ngbDropdown class="d-inline-block">
                      <button
                        type="button"
                        class="btn btn-outline-primary btn-block"
                        id="dropdownField-btn"
                        ngbDropdownToggle
                      >
                        {{ selectedStep?.lotTypeName }}
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownField">
                        <button
                          type="button"
                          ngbDropdownItem
                          *ngFor="let data of lotDropDown.data"
                          (click)="eventLotSelectHandle(data)"
                        >
                          {{ data.name }}
                        </button>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="selectedStep?.lotType === 1" class="col col-md-9">
                    <app-typehead-focus
                      [dataInput]="receptionDropdown"
                      (dataReturn)="eventReceptionSelectHandle($event)"
                    ></app-typehead-focus>
                  </div>
                  <div *ngIf="selectedStep?.lotType === 5" class="col col-md-9">
                    <div class="row">
                      <div class="col col-md-4">
                        <app-typehead-focus
                          [dataInput]="countryData"
                          (dataReturn)="eventCountrySelectHandle($event)"
                          [placeholder]="'::Country' | abpLocalization"
                          [initialSelected]="countryData.selected"
                          [id]="'countryTypehead'"
                        ></app-typehead-focus>
                      </div>
                      <div class="col ol-md-4">
                        <app-typehead-focus
                          [dataInput]="provinceData"
                          (dataReturn)="eventProvinceSelectHandle($event)"
                          [id]="'provinceTypehead'"
                          [placeholder]="'::Province' | abpLocalization"
                        ></app-typehead-focus>
                      </div>
                      <div class="col col-md-4">
                        <app-typehead-focus
                          [dataInput]="districtData"
                          (dataReturn)="eventDistrictSelectHandle($event)"
                          [id]="'districtTypehead'"
                          [placeholder]="'::District' | abpLocalization"
                        ></app-typehead-focus>
                      </div>
                    </div>
                  </div>
                  <div class="col col-md-1">
                    <button
                      type="button"
                      class="btn btn-primary text-start"
                      (click)="saveReception()"
                    >
                      {{ '::Add' | abpLocalization }}
                    </button>
                  </div>
                </div>
              </div>
              <div ngbNavContent *ngIf="selectedStep?.isSpecial === 20">
                <div *ngIf="selectedStep" class="row margin-custom">
                  <div class="selected-values-card">
                    <ngx-datatable
                      [rows]="recordShareData.data"
                      default
                      *ngIf="recordShareData.data?.length > 0"
                      (activate)="recordShareRowClick($event)"
                    >
                      <ngx-datatable-column
                        [name]="'::Record:TraceAbilityCode' | abpLocalization"
                        prop="traceabilityCode"
                        [sortable]="false"
                      ></ngx-datatable-column>
                      <ngx-datatable-column
                        [name]="'::Record:ContractNumber' | abpLocalization"
                        prop="contractNumber"
                        [sortable]="false"
                      ></ngx-datatable-column>
                      <ngx-datatable-column
                        [name]="'::Record:ProductName' | abpLocalization"
                        prop="productName"
                        [sortable]="false"
                      ></ngx-datatable-column>
                      <ngx-datatable-column
                        [name]="'::Record:CreateBy' | abpLocalization"
                        prop="sharedBy"
                        [sortable]="false"
                      ></ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
                <!-- <div *ngIf="fieldData?.length === 0" class="row margin-custom">
                  <div class="selected-values-card">
                    {{ '::NoDataAvailable' | abpLocalization }}
                  </div>
                </div> -->
                <div class="mt-2">
                  <label>{{ '::Record:Product' | abpLocalization }}</label
                  ><span
                    style="vertical-align: middle; font-size: 1.2em; color: red; margin-left: 8px"
                    >*</span
                  >
                  <div>
                    <app-typehead-focus
                      [dataInput]="productData"
                      [id]="'productTypehead'"
                      (dataReturn)="eventProductSelectHandle($event)"
                    ></app-typehead-focus>
                  </div>
                </div>
                <div class="mt-2">
                  <label>{{ '::Record:Partner' | abpLocalization }}</label>

                  <div>
                    <app-typehead-focus
                      [id]="'partnerTypehead'"
                      [dataInput]="partnerData"
                      (dataReturn)="eventPartnerSelectHandle($event)"
                    ></app-typehead-focus>
                  </div>
                </div>
                <div class="mt-2">
                  <label>{{ '::Record:StartNumber' | abpLocalization }}</label>
                  <input
                    type="text"
                    class="form-control"
                    readonly
                    [(ngModel)]="selectedLastTab.startNumber"
                  />
                </div>
                <div class="mt-2">
                  <label>{{ '::Record:EndNumber' | abpLocalization }}</label>
                  <span
                    style="vertical-align: middle; font-size: 1.2em; color: red; margin-left: 8px"
                    >*</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="selectedLastTab.endNumber"
                    (blur)="validateEndNumber()"
                  />
                </div>
                <div class="mt-2">
                  <label>{{ '::Record:ContractNumber' | abpLocalization }}</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="selectedLastTab.contractNumber"
                  />
                </div>
                <div class="row margin-custom mt-0">
                  <div class="">
                    <button
                      type="button"
                      class="btn btn-link text-start"
                      (click)="saveRecordShare()"
                    >
                      {{ '::Add' | abpLocalization }}
                    </button>
                  </div>
                </div>
              </div>
              <div ngbNavContent *ngIf="fieldData">
                <div *ngFor="let field of fieldData; let i = index">
                  <div class="custom-card">
                    <div class="card-body" *ngIf="field; else loaderRef">
                      <div class="mt-2">
                        <h5 class="mb-2" style="display: inline-block; font-weight: bold">
                          {{ i + 1 }}. {{ field.name }}
                        </h5>
                        <span
                          *ngIf="field.isObligatory"
                          style="
                            vertical-align: middle;
                            font-size: 1.2em;
                            color: red;
                            margin-left: 8px;
                          "
                          >*</span
                        >
                      </div>

                      <div *ngIf="field.dataType === 1">
                        <div ngbDropdown class="d-inline-block">
                          <button
                            type="button"
                            class="btn btn-outline-primary"
                            id="dropdownField"
                            ngbDropdownToggle
                          >
                            {{
                              getSelectedOptionName(field) || '::Field:Options' | abpLocalization
                            }}
                          </button>
                          <div ngbDropdownMenu aria-labelledby="dropdownField">
                            <button
                              type="button"
                              ngbDropdownItem
                              *ngFor="let data of field.options; let i = index"
                              (click)="eventDropdownSelectHandle(field, i)"
                            >
                              {{ data.name }}
                            </button>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="field.dataType === 2">
                        <ngx-bootstrap-multiselect
                          [options]="field.options"
                          [ngModel]="selectedOptionsMap.get(field.processFieldId)"
                          (ngModelChange)="updateSelectedOptions(field, $event)"
                        ></ngx-bootstrap-multiselect>
                      </div>
                      <div *ngIf="field.dataType === 3">
                        <div class="form-group purple-border">
                          <textarea
                            class="form-control"
                            id="{{ field.options }}"
                            [(ngModel)]="field.options[0].responseText"
                            rows="3"
                          ></textarea>
                        </div>
                      </div>
                      <div *ngIf="field.dataType === 4">
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="field.options[0].responseText"
                        />
                      </div>
                      <div *ngIf="field.dataType === 5">
                        <div class="col col-md-3">
                          <div class="input-group">
                            <input
                              class="form-control"
                              [placeholder]="'::SelecteDate' | abpLocalization"
                              name="dp"
                              ngbDatepicker
                              #fromDatePicker="ngbDatepicker"
                              [(ngModel)]="field.options[0].responseText"
                            />
                            <button
                              class="btn btn-outline-secondary bi bi-calendar3"
                              (click)="fromDatePicker.toggle()"
                              type="button"
                            ></button>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="field.dataType === 6">
                        <div class="mt-2" *ngFor="let index of numberImageUpload">
                          <div class="custom-file-upload">
                            <div *ngIf="imageSrc[index]">
                              <img [src]="imageSrc[index]" alt="Selected Image" />
                            </div>
                            <label for="image-answer-{{ index }}">{{
                              '::Record:Image' | abpLocalization
                            }}</label>
                            <input
                              id="image-answer-{{ index }}"
                              type="file"
                              (change)="onFileChange($event, index)"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="flex-container">
                        <div class="flex-item">
                          <label for="executor">{{ '::Record:Executor' | abpLocalization }}</label
                          ><span
                            style="
                              vertical-align: middle;
                              font-size: 1.2em;
                              color: red;
                              margin-left: 8px;
                            "
                            >*</span
                          >
                        </div>
                        <div class="flex-item flex-grow">
                          <app-typehead-focus
                            id="executor"
                            [dataInput]="executorData"
                            (dataReturn)="eventExecutorSelectHandle($event, field)"
                            [placeholder]="'::Record:Executor' | abpLocalization"
                            [initialSelected]="findItemById(executorData.data, field.executorId)"
                          ></app-typehead-focus>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div class="mt-2 fade-in-top" [ngbNavOutlet]="navRecord"></div>
  </ng-template>

  <ng-template #abpFooter button-alignment="Start">
    <div
      class="row"
      *ngIf="
        selectedStep &&
        defaultTabId === 2 &&
        (selectedStep?.isSpecial === 1 || selectedStep?.isSpecial === 20)
      "
    ></div>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>

    <button
      *ngIf="defaultTabId === 1"
      class="btn btn-primary"
      (click)="saveRecord()"
      [disabled]="recordForm.invalid"
    >
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
    <button *ngIf="defaultTabId === 2" class="btn btn-primary" (click)="saveRecordResponse(false)">
      <!--      <i class="fa fa-check mr-1"></i>-->
      {{ '::Save' | abpLocalization }}
    </button>
    <button *ngIf="defaultTabId === 2" class="btn btn-primary" (click)="saveRecordResponse(true)">
      <i class="fa fa-check mr-1"></i>
      {{ '::Done' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>

<abp-modal [(visible)]="isDoneModalOpen" [options]="{ centered: false, size: 'xl' }">
  <ng-template #abpHeader>
    <div class="row">
      <div class="col-md-12">
        <h3>
          {{ '::Edit' | abpLocalization }}
        </h3>
      </div>
    </div>
  </ng-template>
  <ng-template #abpBody>
    <ng-template #loaderRef>
      <div class="text-center"><i class="fa fa-pulse fa-spinner" aria-hidden="true"></i></div>
    </ng-template>
    <form *ngIf="doneForm; else loaderRef" [formGroup]="doneForm" (ngSubmit)="saveDone()">
      <div class="mt-2">
        <label for="done-code">{{ '::Done:Code' | abpLocalization }}</label>
        <input type="text" id="done-code" class="form-control" formControlName="code" readonly />
      </div>
      <div class="mt-2">
        <label class="mb-2" for="done-profileName">{{
          '::Done:ProfileName' | abpLocalization
        }}</label
        ><span> * </span>
        <app-typehead-focus
          id="done-profileName"
          [dataInput]="profileNameData"
          (dataReturn)="eventProfileNameSelectHandle($event)"
          [initialSelected]="profileNameData.selected"
        ></app-typehead-focus>
      </div>
      <div class="mt-2">
        <label class="mb-2" for="done-processName">{{
          '::Done:ProcessName' | abpLocalization
        }}</label
        ><span> * </span>
        <app-typehead-focus
          id="done-processName"
          [dataInput]="processData"
          (dataReturn)="eventProcessNameSelectHandle($event)"
          [initialSelected]="processData.selected"
        ></app-typehead-focus>
      </div>
      <div class="mt-2">
        <label class="mb-2" for="done-contract">{{
          '::Done:ContractNumber' | abpLocalization
        }}</label>
        <input
          type="text"
          id="done-contract"
          class="form-control"
          formControlName="contractNumber"
        />
      </div>
      <div class="mt-2">
        <label class="mb-2" for="done-productName">{{
          '::Done:ProductName' | abpLocalization
        }}</label
        ><span> * </span>
        <app-typehead-focus
          id="done-productName"
          [dataInput]="processData"
          (dataReturn)="eventProcessNameSelectHandle($event)"
          [initialSelected]="processData.selected"
        ></app-typehead-focus>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <label class="mb-2" for="done-startNumber">{{
            '::Done:StartNumber' | abpLocalization
          }}</label>
          <input
            type="text"
            id="done-startNumber"
            class="form-control"
            formControlName="startNumber"
            readonly
          />
        </div>
        <div class="col col-md-6">
          <label class="mb-2" for="done-traceability-code">{{
            '::Done:TraceAbilityCode' | abpLocalization
          }}</label>
          <input
            type="text"
            id="done-traceability-code"
            class="form-control"
            formControlName="traceAbilityCode"
          />
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>
    <button class="btn btn-primary" (click)="saveDone()" [disabled]="doneForm.invalid">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>

<abp-modal [(visible)]="isNewrecordModalOpen" [options]="{ centered: false, size: 'xl' }">
  <ng-template #abpHeader>
    <div class="col-md-12">
      <h3>
        {{ '::Record:NewRecord' | abpLocalization }}
      </h3>
    </div>
  </ng-template>

  <ng-template #abpBody>
    <ng-template #loaderRef>
      <div class="text-center"><i class="fa fa-pulse fa-spinner" aria-hidden="true"></i></div>
    </ng-template>

    <form *ngIf="recordForm; else loaderRef" [formGroup]="recordForm" (ngSubmit)="saveRecord()">
      <div class="mt-2">
        <label for="recordCode">{{ '::Record:Code' | abpLocalization }}</label>
        <input type="text" id="recordCode" class="form-control" formControlName="code" readonly />
      </div>
      <div class="mt-2">
        <label class="mb-2" for="record-profileName">{{
          '::Record:ProfileName' | abpLocalization
        }}</label
        ><span> * </span>
        <app-typehead-focus
          id="record-profileName"
          [dataInput]="profileNameData"
          (dataReturn)="eventProfileNameSelectHandle($event)"
          [initialSelected]="profileNameData.selected"
        ></app-typehead-focus>
      </div>
      <div class="mt-2">
        <label class="mb-2" for="record-processName">{{
          '::Record:ProcessName' | abpLocalization
        }}</label
        ><span> * </span>
        <app-typehead-focus
          id="record-processName"
          [dataInput]="processData"
          (dataReturn)="eventProcessNameSelectHandle($event)"
          [initialSelected]="processData.selected"
        ></app-typehead-focus>
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>

    <button class="btn btn-primary" (click)="saveRecord()">
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>
